[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/jre
Environment=CATALINA_PID={{ tomcat_app_dir }}/{{ tomcat_folder }}/temp/tomcat.pid
Environment=CATALINA_HOME={{ tomcat_app_dir }}/{{ tomcat_folder }}
Environment=CATALINA_BASE={{ tomcat_app_dir }}/{{ tomcat_folder }}
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{ tomcat_app_dir }}/{{ tomcat_folder }}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User={{ username }}
Group={{ groupname }}

[Install]
WantedBy=multi-user.target

